<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://www.googletagmanager.com/gtag/js" nonce="{{ script_nonce }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" nonce="{{ style_nonce }}">
</head>

<body>
    <h1>Welcome to the Home Page!</h1>
    <p>This is a simple HTML page rendered by Flask</p>

    <form id="jsonForm">
        <button type="button" onclick="sendJson()">POST JSON to /api/data</button>
    </form>
    
    <form action="/multipart" method="POST">
        <button type="submit">POST to /multipart</button>
    </form>
    
    <script>
        function sendJson() {
            fetch("/api/data", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ message: "Hello from JSON" })
            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error("Error:", error));
        }
    </script>
    

</body>

</html>
